/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

.images {
    max-width: 500px;
    max-height: 350px;
    overflow: hidden;
    
}
.image{
    object-fit: fill;
}

.card{
    margin: 10px;
}

.card-body{
    height: 370px;
}

.logo{
    width: 130px;
    height: 75px;
}